@{
    ViewData["Title"] = "Cloud Debugger - Azure Queue Storage";
}

<h3>Azure Queue Storage</h3>
Tools to send and receive events from Azure Queue Storage.
<br />
<br />

<a href="/QueueStorageSender/SendMessages">Send Messages to Azure Queue Storage</a>
<br />
<a href="/QueueStorageReceiver/ReceiveMessages">Receive Messages from Azure Queue Storage</a> (COMING SOON!)
<br />
<br />


<br>
<br>
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/QueueStorage">Documentation</a></li>
</ul>