@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h3>Advanced Weebhooks using SignalR</h3>

Endpoints to use:
<ul>
    <li>/WebhookAdvanced/hook1</li>
    <li>/WebhookAdvanced/hook2</li>
    <li>/WebhookAdvanced/hook3</li>
    <li>/WebhookAdvanced/hook4</li>
</ul>

<br />
<br />
<a href="/WebhookAdvanced/Hook">Start using it</a>


