@{
    ViewData["Title"] = "CloudDebugger - Error tools";
}

<h3>Error tools</h3>


<a href="/Errors/SlowPage">Slow page</a> (5 seconds delay)
<br />
<a href="/Errors/Error400">Bad request 400 error (return status code 400)</a>
<br />
<a href="/Errors/Error500">Server 500 error (return status code 500)</a>
<br />
<a href="/Errors/Error503">Server Unavaliable 503 error (return status code 503)</a>
<br />
<a href="/Errors/Exception">Generate an unhandled exception (Throw an InvalidOperationException)</a>
<br />
<a href="/Errors/NotFound">Link to a not found page (Should return a 404 errror)</a>
<br />

