@{
    ViewData["Title"] = "Cloud Debugger - Error tools";
}

<h3>Error tools</h3>
These tools will generate different errors and exceptions to test the error handling and logging capabilities of the application.
<br />
<br>



<a href="/Errors/SlowPage">Slow page</a> (5 seconds delay)
<br />
<a href="/Errors/Error400">Bad request 400 error</a> (return status code 400)
<br />
<a href="/Errors/Error500">Server 500 error</a> (return status code 500)
<br />
<a href="/Errors/Error503">Server Unavaliable 503 error</a> (return status code 503)
<br />
<a href="/Errors/Exception">Generate an unhandled exception</a> (Throw an InvalidOperationException)
<br />
<a href="/Errors/NotFound">Link to a not found page</a> (Should return a 404 errror)
<br />

<br>
<br>
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/Errors">Documentation</a></li>
</ul>