@model CloudDebugger.Features.QueueStorageSender.SendMessagesModel
@{
    ViewData["Title"] = "Cloud Debugger - Send messages to Azure Queue Storage";
}

<h3>Send Messages to Azure Queue Storage</h3>
This tool allows you to send messages to an Azure Queue Storage.
<br />
<a href="/QueueStorage">Back</a>
<br>
<br>

<form asp-controller="QueueStorageSender" asp-action="SendMessages" method="post">

    <h5>Queue and Connection details</h5>
    <table class="table">
        <tr>
            <td class="col-md-2">
                Storage account name
            </td>
            <td class="col-md-10">
                <input asp-for="StorageAccountName" style="min-width:30%">
            </td>
        </tr>
        <tr>
            <td class="col-md-2">Storage Queue name</td>
            <td class="col-md-10">
                <input asp-for="QueueName" style="min-width:30%">
                <span asp-validation-for="QueueName"></span>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">Access key or<br />SAS Token/URL</td>
            <td class="col-md-10">
                <input asp-for="SASToken" style="min-width:100%"><br />
                (If missing it will authenticate using Managed Identity using DefaultAzureCredential)
            </td>
        </tr>
    </table>

    <br />
    <br />

    <h5>Message details</h5>
    <table class="table">
        <tr>
            <td class="col-md-2">Message start number</td>
            <td class="col-md-2">
                <input asp-for="StartNumber">
                <span asp-validation-for="StartNumber"></span>
            </td>
            <td class="col-md-8"></td>
        </tr>
        <tr>
            <td class="col-md-2">Number of messages to send</td>
            <td class="col-md-2">
                <input asp-for="NumberOfMessagesToSend">
                <span asp-validation-for="NumberOfMessagesToSend"></span>
            </td>
            <td class="col-md-8"></td>
        </tr>
        <tr>
            <td class="col-md-2">Message Body</td>
            <td class="col-md-10">
                <textarea asp-for="MessageToSend" rows="20" cols="70"></textarea>
                <br />##ID## will be replaced by the message number.<br />

                <span asp-validation-for="MessageToSend"></span>
            </td>
        </tr>
    </table>

    <br>
    <input type="submit" name="submit" value="Send Messages" />
    <br />

    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <pre>@Model.ErrorMessage</pre>
        </div>
    }

    @if (!String.IsNullOrWhiteSpace(Model.Message))
    {
        <b>@Model.Message</b>
    }

@* Show how we authenticated againt the storage account *@
    <br />
    @ViewData["authenticationApproach"]
    <br />

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

