@{
    ViewData["Title"] = "CloudDebugger - App Services";
}

<h3>App Services</h3>
This page provides various App Service related tools.
<br />
<br />
<a href="/AppServices/ShowFileSystem">Show the file system</a>
<br />
<a href="/AppServices/LocalCache">Show local cache details</a>
<br />


<br>
<br>




<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/AppServices">Documentation</a></li>
</ul>