@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h2>App Services</h2>
This page provides various App Service related features.
<br />
<br />
<a href="/AppServices/ShowFileSystem">Show the file system</a>
<br />



<br>

