@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h3>Log Analytics Workspace</h3>


<a href="/LogWorkspace/SendEvents">Send data to Log Analytics Workspace</a>
<br />


<br>
<br>
<br>
<br>



<h4>About this service</h4>
This service is part of the Azure training provided by <a href="https://www.tn-data.se">https://www.tn-data.se</a>.

