# Auto detect text files and perform LF normalization
* text=auto 

*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf



###############################################################################
# Make sure jQuery files always have LF as line endings (to pass SRI checks)
###############################################################################
jquery*.js eol=lf
jquery*.map eol=lf


###############################################################################
# Make sure bootstrap files always have LF as line endings (to pass SRI checks)
###############################################################################
bootstrap*.js eol=lf
bootstrap*.map eol=lf
bootstrap*.css eol=lf