
@{
    ViewData["Title"] = "Cloud Debugger - Request tools";
}

<h3>Request tools</h3>
These tools will help you troubleshoot request made to this application.

<br />
<br />
<a href="/RequestLogger/CurrentRequest">Current Request Viewer</a><br />
<a href="/RequestLogger/ForwardedHeaders">Forwarded Headers Configuration</a><br />
<a href="/RequestLogger/RequestList">Request Log</a>
<br />
<br />
<br />


