
@{
    ViewData["Title"] = "CloudDebugger - Request tools";
}

<h3>Request logger</h3>


<a href="/RequestLogger/CurrentRequest">Current request details</a><br />
<a href="/RequestLogger/RequestList">Request log</a>
<br />