
@{
    ViewData["Title"] = "Cloud Debugger - Request tools";
}

<h3>Request tools</h3>
These tools will help you troubleshoot request made to this application.

<br />
<br />
<a href="/RequestLogger/CurrentRequest">Current request viewer</a><br />
<a href="/RequestLogger/RequestList">Request log</a>
<br />
<br />
<br />


