@using Microsoft.AspNetCore.MyHttpLogging
@model Microsoft.AspNetCore.MyHttpLogging.RequestLogEntry

@{
    ViewData["Title"] = "RequestLog";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>


<h3>Requests log</h3>
Here's a list of all the received requests to this service. <a href="/RequestLogger/ClearRequestList">Clear the log</a>.
<br />

<a href="/RequestLogger">Back</a>
<br />
<br />

<table class="table table-hover table-bordered">

    <thead>
        <tr>
            <th class="col-md-1">Time</th>
            <th class="col-md-1">Method</th>
            <th class="col-md-10">Path</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in RequestLog.GetAllLogEntries())
        {
            <tr>
                <td>
                    @entry.EntryTimeUtc.ToString("hh:mm:ss")
                </td>
                <td>
                    @entry.Method
                </td>
                <td>
                    <a href="/requestlogger/requestdetails/@entry.RequestNumber">@entry.Path</a>
                </td>
            </tr>
        }
    </tbody>
</table>


The following is ignored by the request logger:<br>
<ul>
    <li>
        Request to /favicon.ico, /robots.txt, /requestlog/*
    </li>
    <li>
        These file extensions are ignored: .css, .js, .png, .jpg, .jpeg, .gif, .ico, .svg, .woff, .woff2, .ttf, .eot, .map
    </li>
</ul>



<br>
<br>
<br>
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/RequestLogger">Documentation</a></li>
</ul>