@{
    ViewData["Title"] = "CloudDebugger - REST API";
}

<h2>REST API</h2>

The following endpoints are defined:
<br />
<a href="/api/customers">/api/customers</a> - Get all customers.
<br />
<a href="/api/customers/2">/api/customers/2</a> - Get a specific customer.
<br />
<a href="/api/echo">/api/echo</a> - Echo back the received response headers.
<br />
<a href="/api/time">/api/time</a> - Returns the current time.
<br />



<br>
<br>