@{
    ViewData["Title"] = "CloudDebugger - REST API";
}

<h2>REST API</h2>
This tool provides a set of REST API endpoints that can be useful for testing purposes.


<h4>Endpoints</h4>
The following endpoints are defined:
<br />
<a href="/api/customers">GET /api/customers</a> - Get a list all customers.
<br />
<a href="/api/customers/2">GET /api/customers/2</a> - Get a specific customer (1-100).
<br />
<a href="/api/echo">GET /api/echo</a> - Echo back the received response headers.
<br />
<a href="/api/time">GET /api/time</a> - Returns the current time.
<br />

<br>
<br>
<br>
<br>
<br>
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/RESTAPI">Documentation</a></li>
</ul>