@{
    ViewData["Title"] = "CloudDebugger - Event Grid";
}

<h3>Event Grid</h3>


<a href="/EventGrid/SendEvents">Send events to Event Grid</a><br />





<br>
<br>




<br>
<br>
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/EventGrid">Documentation</a></li>
</ul>