@model CloudDebugger.Features.EventGrid.SendEventGridModel
@{
    ViewData["Title"] = "Cloud Debugger - Send events to Event Grid";
}

<h3>Send Events to Event Grid</h3>
This tool will allow you to send events to an Event Grid topic
<br />
<a href="/EventGrid">Back</a>
<br>
<br>

<form asp-controller="EventGrid" asp-action="SendEvents" method="post">

    <table class="table">
        <tr>
            <td class="col-md-2">AccessKey</td>
            <td class="col-md-10">
                <input asp-for="AccessKey" style="min-width:100%"><br />
                (Optional, if missing it will authenticate using DefaultAzureCredential/ServicePrincipal)
            </td>
        </tr>
        <tr>
            <td class="col-md-2">Topic endpoint</td>
            <td class="col-md-6">
                <input asp-for="TopicEndpoint" style="min-width:100%">
                <span asp-validation-for="TopicEndpoint"></span>
            </td>
            <td class="col-md-4"></td>
        </tr>
        <tr>
            <td class="col-md-2">Start event number</td>
            <td class="col-md-2">
                <input asp-for="StartNumber">
                <span asp-validation-for="StartNumber"></span>
            </td>
            <td class="col-md-8"></td>
        </tr>
        <tr>
            <td class="col-md-2">Number of events to send</td>
            <td class="col-md-2">
                <input asp-for="NumberOfEvents">
                <span asp-validation-for="NumberOfEvents"></span>
            </td>
            <td class="col-md-8"></td>
        </tr>

    </table>


    <br>
    <button type="submit" name="button" value="eventgrid">Send EventGrid Events</button>
    &nbsp;&nbsp;
    <button type="submit" name="button" value="cloudevent">Send CloudEvents Events</button>

    <br />
    <br />
    @ViewData["authenticationApproach"]
    <br />

    @if(!String.IsNullOrWhiteSpace(Model?.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <pre>@Model.ErrorMessage</pre>
        </div>
    }

    @if (!String.IsNullOrWhiteSpace(Model?.Message))
    {
        <b>@Model.Message</b>
    }

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

      