@{
    ViewData["Title"] = "Cloud Debugger - Event Hubs";
}

<h3>Event Hubs</h3>
Tools to send and receive events from Azure Event Hubs.
<br />
<br />

<a href="/EventHubProduce/ProduceEvents">Produce and send events to Event Hub</a>
<br />
<a href="/EventHubConsume/ConsumeEvents">Consume events from Event Hub</a>
<br />
<br />


<br>
<br>
<br>

<br>
<br>
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/EventHubs">Documentation</a></li>
</ul>