@{
    ViewData["Title"] = "Cloud Debugger - Event Hub";
}

<h3>Event Hub</h3>


<a href="/EventHubProduce/ProduceEvents">Produce events to Event Hub</a>
<br />
<a href="/EventHubConsume/ConsumeEvents">Consume Event Hub events</a>
<br />
<br />






<br>
<br>
<br>
<br>

<br>
<br>
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/EventGrid">Documentation</a></li>
</ul>