@{
    ViewData["Title"] = "CloudDebugger - Event Hub";
}

<h3>Event Hub</h3>


<a href="/EventHub/SendEvents">Produce events to Event Hub</a><br />
<a href="/EventHub/ConsumeEvents">Consume Event Hub events</a><br />
<br />






<br>
<br>
<br>
<br>
