@{
    ViewData["Title"] = "CloudDebugger - Diagnostics";
}

<h3>Diagnostics</h3>


<a href="/Diagnostics/EnvironmentVariables">Environment variables</a><br />
<a href="/Diagnostics/Network">Network</a><br />
<a href="/Diagnostics/SystemRuntimeDetails">System and Runtime Details</a>
<br />
<br />



<br>
<br>
<br>







<h5>Resources</h5>
<ul>
@*     <li><a href="https://github.com/tndata/CloudDebugger/wiki/CallingAPIs">Documentation</a></li> *@
    <li><a href="https://learn.microsoft.com/en-us/azure/app-service/reference-app-settings">Environment variables and app settings in Azure App Service</a></li>
</ul>