@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h3>Diagnostics</h3>


<a href="/Diagnostics/EnvironmentVariables">Environment variables</a><br />
<a href="/Diagnostics/Network">Network</a><br />
<br />



<br>
<br>
<br>




