@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h2>Logging tools</h2>


<a href="/Logging/WriteToLog">Write a message to the log</a><br />




<br>
<br>
<br>
<br>



<h4>About this service</h4>
This service is part of the Azure training provided by <a href="https://www.tn-data.se">https://www.tn-data.se</a>.

