@{
    ViewData["Title"] = "Cloud Debugger - Logging Tools";
}

<h3>Logging Tools</h3>
Logging related tools.
<br />
<br />

<h4>Logging tools</h4>
<a href="/LogWorkspace">Log Analytics Workspace</a>
<br />
<a href="/Logging/WriteToLog">Write a message to the logging output</a>
<br />
<a href="/Logging/WriteToStdOutErr">Write a message to the standard output and error</a>
<br />
