@{
    ViewData["Title"] = "Cloud Debugger - Logging Tools";
}

<h3>Logging Tools</h3>
Logging related tools.
<br />
<br />

<h4>Logging tools</h4>

<a href="/Logging/WriteToLog">Write a message to the logging output</a>
<br />
<a href="/Logging/WriteToStdOutErr">Write a message to the standard output and error</a>
<br />
<a href="/Logging/StructuredLogging">Compare Unstructured vs. Structured Logging</a>
<br />
<br />

<h4>Log Analytics Workspace tools</h4>

<a href="/LogWorkspace/SendTestData">Send test data to Log Analytics Workspace</a>
<br />
<a href="/LogWorkspaceDataGenerator/SendCustomerData">Send customer data to Log Analytics Workspace</a>
<br />
