@{
    ViewData["Title"] = "CloudDebugger - Credentials";
}

<h4>Credentials Debugger</h4>

<br />
<br />
<h5>Getting access tokens</h5>
<a href="/Credentials/GetAccessToken">Get access token</a>
<br />
<a href="/Credentials/GetMultipleAccessTokens">Get multiple access tokens</a>
<br />
<a href="/Credentials/ViewLog">View the internal log</a>
<br />
<a href="/Credentials/RetryPolicy">View default retry policy</a>
<br />
<br />