@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h2>CloudDebugger</h2>


<a href="/RequestLogger">Request logs and details</a><br />
<a href="/Diagnostics">Diagnostics</a><br />
<a href="/LogWorkspace">Log Analytics Workspace</a><br />
<a href="/Logging">Logging</a><br />
<a href="/Errors">Errors</a><br>
<a href="/CAllingApis">Calling external APIs</a><br />
<a href="/Caching">Caching and CDN</a>
<br />
<a href="/Health/index">Health checks</a>
<br />
<a href="/API/index">REST API</a>
<br />
<a href="/Credentials/index">Credentials and Identity</a>
<br />

<br />

<br />


<h4>Compute</h4>
<a href="/AppServices/index">App Services</a>
<br />


<br>
<h4>Storage</h4>
<a href="/BlobStorage/index">Blob storage</a>
<br />
<a href="/FileSystem/index">File system</a>
<br />
<a href="/Redis">Redis</a>
<br>
<br>
<h4>Message and event driven</h4>
<a href="/EventGrid">Event Grid</a>
<br />
<a href="/EventHub">Event Hub</a><br />
<a href="/WebHooks/index">WebHooks</a>



<br>
<br>
<br>
<br>



<h4>About this service</h4>
This service is part of the Azure training provided by <a href="https://www.tn-data.se">https://www.tn-data.se</a>.


@{
    //Check if this variable is preset in the environment, then Application Insights should be enabled.
    var appInsightsConnectionString = Environment.GetEnvironmentVariable("APPLICATIONINSIGHTS_CONNECTION_STRING");

    if (string.IsNullOrEmpty(appInsightsConnectionString) == false)
    {
        <br /><br /><b>Application Insights enabled
        </b>
    }
}