@{
    ViewData["Title"] = "Cloud Debugger";

    var version = Environment.GetEnvironmentVariable("Version");
    var conStr = Environment.GetEnvironmentVariable("ConStr");
    var env = Environment.GetEnvironmentVariable("Env");

}

<h2>Cloud Debugger</h2>
    
@* Display these environment variables if set, useful when exploring App Service deployments slots *@
@if (!string.IsNullOrEmpty(version))
{
    @:Version: @version
    <br />
}
@if (!string.IsNullOrEmpty(conStr))
{
    @:ConStr: @conStr
    <br />
}
@if (!string.IsNullOrEmpty(env))
{
    @:Env: @env
    <br />
}

<br />
<br />

<h4>Request tools</h4>
<a href="/RequestLogger">Request logs and details</a>
<br />
<a href="/API/index">REST API</a>
<br />
<a href="/CAllingApis">Calling external APIs</a>
<br />
<br />


<h4>Compute</h4>
<a href="/AppServices/index">App Services</a>
<br />
<br />


<h4>Storage</h4>
<a href="/BlobStorage/index">Blob Storage</a>
<br />
<a href="/FileSystemExplorer/index">File System Explorer</a>
<br />
<a href="/Redis">Redis</a>
<br>
<br>


<h4>Message and event driven</h4>
<a href="/EventGrid">Event Grid</a>
<br />
<a href="/EventHub">Event Hub</a>
<br />
<a href="/QueueStorage">Queue Storage</a>
<br />
<a href="/WebHooks/index">WebHooks</a>
<br />
<br />


<h4>Identity</h4>
<a href="/DefaultAzureCredentials/index">DefaultAzureCredentials</a>
<br />
<a href="/TokenCredentailsExplorer/index">TokenCredentails Explorer</a>
<br />
<br />

<h4>Diagnostics and system information</h4>
<a href="/Configuration">App configuration</a>
<br />
<a href="/ConnectionStrings">Connection strings</a>
<br />
<a href="/Diagnostics/EnvironmentVariables">Environment Variables</a>
<br />
<a href="/Errors">Errors</a>
<br />
<a href="/Diagnostics/Network">Network</a>
<br />
<br />


<h4>Logging</h4>
<a href="/Logging">Logging tools</a>
<br />
<br />

<h4>Other tools</h4>
<a href="/Caching">Caching and CDN</a>
<br />
<a href="/Health/index">Health checks</a>
<br />
<a href="/ScaleOut">Scale-out and load balancing</a>
<br />

<br />
<br />




<h4>Documentation</h4>
The documentation for this tool can be found in the <a href="https://github.com/tndata/CloudDebugger/wiki">GitHub Wiki</a>.

<br />
<br />
<h4>About this application</h4>
Besides being a stand-alone tool, this application is also part of the Azure training provided by <a href="https://www.tn-data.se">https://www.tn-data.se</a>.
<br />


@{
    //Check if this variable is preset in the environment, then Application Insights should be enabled.
    var appInsightsConnectionString = Environment.GetEnvironmentVariable("APPLICATIONINSIGHTS_CONNECTION_STRING");

    if (!string.IsNullOrEmpty(appInsightsConnectionString))
    {
        <br /><br /><b>Application Insights enabled
        </b>
    }
}