@model CloudDebugger.Features.ConnectionStrings.ConnectionStringsModel

@{
    ViewData["Title"] = "Cloud Debugger - List Connection Strings";
}

<h3>Connection Strings</h3>
This tool lists all connection strings detected by ASP.NET Core.
These may come from configuration files or environment variables.
<br />
<a href="/diagnostics">Back</a>
<br />
<br />
<br />


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">Name</th>
            <th class="col-md-11">Value</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var entry in Model.ConnectionStrings)
            {
                <tr>
                    <td class="col-md-2">@entry.Key</td>
                    <td class="col-md-10">@entry.Value</td>
                </tr>
            }
        }
    </tbody>
</table>


<br>
<br>
<br>

<div class="border p-3">
    <h5>Important</h5>
    Only MySQL, SQL Azure, SQL Server, and Custom connection strings defined in Azure App Services are displayed here.
    For more information, refer to the following resources:
    <ul>
        <li><a href="https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.Extensions.Configuration.EnvironmentVariables/src/EnvironmentVariablesConfigurationProvider.cs">EnvironmentVariablesConfigurationProvider.cs</a> (where the connection string mapping is performed)</li>
        <li><a href="https://github.com/dotnet/runtime/issues/36123">GitHub Issue - EnvironmentVariablesConfigurationProvider should support all types of connection strings</a></li>
        <li><a href="https://github.com/MicrosoftDocs/azure-docs/pull/122464">Enhance clarity for workaround with unsupported Connection String Types</a></li>
        <li><a href="https://learn.microsoft.com/en-us/azure/app-service/configure-common?tabs=portal#configure-connection-strings">Configure connection strings</a></li>
    </ul>
</div>



<br />
<br />
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/ConnectionStrings">Documentation</a></li>
    <li><a href="https://learn.microsoft.com/en-us/azure/app-service/configure-common">Configure an App Service app</a></li>
</ul>


