@{
    ViewData["Title"] = "Cloud Debugger - File System Explorer";
}

<h2>File System Explorer</h2>
These are tools to interact with the local file system.<br /><br />


<a href="/FileSystemExplorer/ReadWriteFiles">Read and write files to local file system</a>
<br />
<a href="/AppServices/ShowFileSystem">App Services File System viewer</a>.
<br />
<br />
<br />
<br />



<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/FileSystem">Documentation (Read and write files tool)</a></li>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/AppServices">Documentation (App Services File System viewer)</a></li>
</ul>