@{
    ViewData["Title"] = "Cloud Debugger - File System Tools";
}

<h2>File System Tools</h2>
These are tools to interact with the local file system.<br /><br />


<h5>General Tools</h5>
<a href="/FileSystemExplorer/ReadWriteFiles">Read and Write Files</a>
<br />
<a href="/FileSystemExplorer/DiskFreeSpace">Disk free space</a>
<br />
<br />


<h5>App Services Tools</h5>
<a href="/AppServices/ShowFileSystem">App Service file system</a>
<br /> 
<a href="/AppServices/LocalCache">Local Cache details</a>
<br />

<br />
<br />

<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/ReadWriteFiles">Documentation</a> (Read and Write Files tool)</li>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/DiskFreeTools">Documentation</a> (Disk Free Space)</li>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/AppServices">Documentation</a> (App Service tools)</li>
</ul>
