@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h3>Scale out</h3>
This page provides tools for deploymements that are scaled out to multiple instances.
<br />
<br />
<a href="/ScaleOut/ShowDetails">Show load balancing details</a><br />
<a href="/ScaleOut/MultiInstances">Show show multi instances</a><br />
<a href="/ScaleOut/MultiInstancesNoCookies">Show show multi instances (with clear cookies)</a><br />
<br />





@* <h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/AppServices">Documentation</a></li>
 *@</ul>