@{
    ViewData["Title"] = "CloudDebugger - Scaleout";
}

<h3>Scale-out and load balancing</h3>
This page provides tools to visualise scaled-out and load balancing.
<br />
<br />
<a href="/ScaleOut/ShowDetails">Show load balancing details</a><br />
<a href="/ScaleOut/MultiInstances">Show multi instances</a><br />
<a href="/ScaleOut/MultiInstancesNoCookies">Show multi instances (with clear cookies)</a><br />
<br />





<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/Scaleout">Documentation</a></li>
 </ul>