@{
    ViewData["Title"] = "Cloud Debugger - Show multiple instances";
}

<h3>Show multiple instances</h3>
 Continiously load the ShowDetails page in multiple iframes. This will show the load balancing in action.
<br /><a href="/Scaleout">Back</a>

<br />


<table style="width: 100%;">
    <tr>
        <td style="width: 50%;">
            <iframe width="100%" height="430" border="0" id="frame1" title="frame1" src="/ScaleOut/ShowDetails"></iframe>
        </td>
        <td style="width: 50%;">
            <iframe width="100%" height="430" border="0" id="frame2" title="frame2" src="/ScaleOut/ShowDetails"></iframe>

        </td>

    </tr>
    <tr>
        <td style="width: 50%;">
            <iframe width="100%" height="430" border="0" id="frame3" title="frame3" src="/ScaleOut/ShowDetails"></iframe>
        </td>
        <td style="width: 50%;">
            <iframe width="100%" height="430" border="0" id="frame4" title="frame4" src="/ScaleOut/ShowDetails"></iframe>
        </td>
    </tr>
</table>
<script>
       function reloadIFrame(name)
       {

           document.getElementById(name).src += '';
       }

    window.setInterval(() => reloadIFrame('frame1'), 750);
    window.setInterval(() => reloadIFrame('frame2'), 800);
    window.setInterval(() => reloadIFrame('frame3'), 850);
    window.setInterval(() => reloadIFrame('frame4'), 900);

</script>
