@{
    ViewData["Title"] = "CloudDebugger - Webhooks";
}

<h3>Weebhooks</h3>

<br />
<br />

<h4>Webhook endpoints</h4>
<br />
<a href="/hook1">WebHook1</a>
<br />
<a href="/hook2">WebHook2</a>
<br />
<a href="/hook3">WebHook3</a>
<br />
<a href="/hook4">WebHook4</a>
<br />
<br />


<h4>Webhook UI</h4>
<a href="/WebHooks/WebHooksLog?HookId=1">View log for hook #1</a>
<br />
<a href="/WebHooks/WebHooksLog?HookId=2">View log for hook #2</a>
<br />
<a href="/WebHooks/WebHooksLog?HookId=3">View log for hook #3</a>
<br />
<a href="/WebHooks/WebHooksLog?HookId=4">View log for hook #4</a>
<br />