@{
    ViewData["Title"] = "CloudDebugger - Webhooks";
}


<h4>Webhook overview</h4>


<table class="table table-bordered" style="border-width:4px">
    <tr style="border-width:4px">
        <td><b>Webhook 1</b></td>
        <td><b>Webhook 2</b></td>
    </tr>
    <tr style="border-width:4px">
        <td class="col-md-6" style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;">
            <pre>
            <ul id="Messagebox1"></ul>
            </pre>
        </td>
        <td class="col-md-6" style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;">
            <pre>
            <ul id="Messagebox2"></ul>
            </pre>
        </td>
    </tr>
    <tr style="border-width:4px">
        <td><b>Webhook 3</b></td>
        <td><b>Webhook 4</b></td>
    </tr>
    <tr style="border-width:4px">
        <td class="col-md-6" style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;">
            <pre>
            <ul id="Messagebox3"></ul>
            </pre>
        </td>
        <td class="col-md-6" style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;">
            <pre>
            <ul id="Messagebox4"></ul>
            </pre>
        </td>
    </tr>

</table>


@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Webhook.js"></script>
}