@{
    ViewData["Title"] = "CloudDebugger - Blob storage tools";
}


<h4>Working with blobs</h4>
These assume you have a blog storage container named CloudDebugger
<br />
<br />


<a href="/BlobStorage/AccessBlobs">Access blobs</a> (view, create and delete blobs)<br />
<a href="/BlobStorage/GetUserDelegationSASToken">Create a user delegation SAS token</a>
<br />

