@{
    ViewData["Title"] = "Cloud Debugger - Blob Storage Tools";
}


<h4>Working With Blob Storage</h4>
<br />
<br />


<a href="/BlobStorageEditor/AccessBlobs">Access blobs</a> (view, create and delete blobs)
<br />
<a href="/BlobStorageAccessCheck/Index">Access checker</a> (Checks what access do you have to blob storage)
<br />
<a href="/BlobStorageDelegationSasToken/Index">Create a user delegation SAS token</a>
<br />
<a href="/BlobVersioning/Index">Blob versioning</a>
<br />




