@{
    ViewData["Title"] = "CloudDebugger - Calling external APIs";
}

<h3>Calling external APIs</h3>
s

<a href="/CallingApis/SlowApi">Call external API that takes 5 seconds to complete.</a><br />
<a href="/CallingApis/ErrorApi">Call external API that returns 500 server error.</a><br />


@{
    var message = ViewData["Message"];
    if (message != null)
    {
        <br /><h4>Message</h4>
        <p><b>@message</b></p>
    }
}

<br />
<br />
