@{
    ViewData["Title"] = "CloudDebugger - Homepage";
}

<h3>Weebhooks</h3>

<br />
<br />

<h4>Simple webhook</h4>
<br />
<a href="/WebHook/Hook?hookId=1">WebHook1</a>
<br />
<a href="/WebHook/Hook?hookId=2">WebHook2</a>
<br />


<br />
<h4>Advanced webhook using SignalR</h4>
<a href="/WebHookAdvanced/index">Advanced webHook</a>