@{
    ViewData["Title"] = "Cloud Debugger - DefaultAzureCredentials debugger";
}

<h3>DefaultAzureCredentials Debugger</h3>
This tool allows you to explore and troubleshoot the DefaultAzureCredentials TokenCredential.

<br />
<br />
<h5>DefaultAzureCredentials</h5>
<a href="GetAccessToken">Get an access token</a>
<br />
<a href="/CredentialsCaching/Index">Explore token caching</a>
<br />
<a href="/TokenCredentailsExplorer/index">TokenCredentails Explorer</a>
<br />
<a href="/CredentialsEventLog/ViewEventLog">View the internal Event log</a>
<br />

<br />
<br />

<h6>Useful Resources</h6>
<ul>
    <li>
        <a href="https://nestenius.se/2024/04/18/default-azure-credentials-under-the-hood/" target="_blank" rel="noopener">DefaultAzureCredentials Under the Hood (blog post)</a>
    </li>
    <li>
        <a href="https://learn.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme" target="_blank" rel="noopener">Azure Identity client library</a>
    </li>
    <li>
        <a href="https://learn.microsoft.com/en-us/entra/identity/" target="_blank" rel="noopener">Microsoft Entra ID documentation</a>
    </li>
    <li>
        <a href="https://tn-data.se/openid-connect/" target="_blank" rel="noopener">OpenID Connect for Developers</a>
    </li>
    <li>
        <a href="https://learn.microsoft.com/en-us/dotnet/api/azure.identity" target="_blank" rel="noopener">Azure.Identity Namespace</a>
    </li>
</ul>

