@model CloudDebugger.Features.EventHubProduce.ProduceEventHubModel
@{
    ViewData["Title"] = "CloudDebugger - Send events to Event Hub";
}

<h3>Send Events to Event Hub</h3>
This tool allows you to send events to an Event Hub.
<br />
<a href="/EventHub">Back</a>
<br>
<br>

<form asp-controller="EventHubProduce" asp-action="ProduceEvents" method="post">

    <table class="table">
        <tr>
            <td class="col-md-2">Connection String</td>
            <td class="col-md-10">
                <input asp-for="ConnectionString" style="min-width:100%"><br />
            </td>
        </tr>
        <tr>
            <td class="col-md-2">Start event number</td>
            <td class="col-md-2">
                <input asp-for="StartNumber">
                <span asp-validation-for="StartNumber"></span>
            </td>
            <td class="col-md-8"></td>
        </tr>
        <tr>
            <td class="col-md-2">Number of events to send</td>
            <td class="col-md-2">
                <input asp-for="NumberOfEvents">
                <span asp-validation-for="NumberOfEvents"></span>
            </td>
            <td class="col-md-8"></td>
        </tr>
    </table>

    <br>
    <input type="submit" name="submit" value="Send Events" /><br />

    @if(!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <pre>@Model.ErrorMessage</pre>
        </div>
    }

    @if (!String.IsNullOrWhiteSpace(Model.Message))
    {
        <b>@Model.Message</b>
    }

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

      