@model CloudDebugger.Features.OpenTelemetry.OpenTelemetryModel
@{
    ViewData["Title"] = "Cloud Debugger - Write Custom Event to OpenTelemetry";
}

<h4>Write Custom Event to OpenTelemetry</h4>
<p>
    This tool will create a custom OpenTelemetry event.
    The resulting trace events can be viewed
    <a href="/OpenTelemetryTracesViewer/ViewTraces">here</a>.
</p>
<p>
    <a href="/OpenTelemetry">Back</a>
</p>

<form asp-controller="OpenTelemetry" asp-action="CustomEvent" method="post">
    <table class="table">
        <tr>
            <td class="col-md-2">Custom Message</td>
            <td class="col-md-10">
                <input asp-for="LogMessage" class="form-control" />
                <span asp-validation-for="LogMessage" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td class="col-md-2"></td>
            <td class="col-md-10">
                <input type="submit" name="submit" value="Create Event" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>

@if (!string.IsNullOrWhiteSpace(Model?.Exception))
{
    <div class="alert alert-danger" role="alert">
        <pre>@Model.Exception</pre>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model?.Message))
{
    <div class="alert alert-success" role="alert">
        <b>@Model.Message</b>
    </div>
}

<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/OpenTelemetry">Documentation</a></li>
    <li><a href="https://opentelemetry.io/">OpenTelemetry</a></li>
</ul>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
