@{
    ViewData["Title"] = "Cloud Debugger - OpenTelemetry Tools";
}

<h3>OpenTelemetry Tools</h3>
Tools related to OpenTelemetry.
<br />
<br />

<a href="/OpenTelemetry/CustomEvent">Write a custom event</a>
<br />
<a href="/OpenTelemetry/CreateTrace">Create a trace</a>
<br />
<a href="/OpenTelemetry/SimpleCounter">Simple counter</a>
<br />
<br />
<br />


<h4>OpenTelemetry Logs</h4>
<a href="/OpenTelemetryLog/ViewTraces">View trace data</a>
<br />
<a href="/OpenTelemetryLog/ViewMetrics">View metrics data</a>
<br />
<a href="/OpenTelemetryLog/ViewLogs">View Log data</a>
<br />
<br />
<br />
<br />
