@{
    ViewData["Title"] = "Cloud Debugger - OpenTelemetry Tools";
}

<h3>OpenTelemetry Tools</h3>
Tools related to OpenTelemetry.
<br />
<br />

<a href="/OpenTelemetry/CustomEvent">Write a custom event</a>
<br />
<a href="/OpenTelemetry/CreateTrace">Create a trace</a>
<br />
<a href="/OpenTelemetry/Counter">Counter</a>
<br />
<a href="/OpenTelemetry/Histogram">Histogram</a>
<br />
<br />
<br />


<h4>OpenTelemetry Data</h4>
<a href="/OpenTelemetryTracesViewer/ViewTraces">View trace data</a>
<br />
<a href="/OpenTelemetryMetricsViewer/ViewMetrics">View metrics data</a>
<br />
<a href="/OpenTelemetryLogViewer/ViewLogs">View Log data</a>
<br />
<br />
<br />
<br />
