name: Docker Container Build

on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Build Docker container
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: false


